<!DOCTYPE html>
<html lang="en">
<head>
  <link href="../public/stylesheets/join-rule.css" type="text/css" rel="stylesheet">
  <meta charset="UTF-8">
  <title>Makcipe 회원가입</title>
</head>
<body>
<div id="main">
  <h1>
    회원가입
  </h1>
  <img src="../public/images/logo1.JPG" alt="logo">
  <h2>
    <div class="rule">
      이용약관
      <div class="rule1-cont"></div>
            <span>이용약관에 동의하십니까? &emsp;동의함<input type="checkbox" style="width:15px; height:15px;"
                                                name="약관동의" value="#" ></span>
    </div>
    <div class="rule">
      개인정보 수집 및 이용
      <div class="rule2-cont"></div>
            <span>개인정보 수집 및 이용에 동의하십니까? 동의함<input type="checkbox" style="width:15px; height:15px;"
                                                  name="약관동의" value="#" ></span>
    </div>
  </h2>

  <h3>
    아이디(이메일): <span class="id-1">dodo@maksse.com</span> 으로 가입하시겠습니까?<br>
    <a href="/inform"><div class="join-conform1">확인</div></a>
    <a href="/"><div class="join-conform2">취소</div></a>


  </h3>

</div>
</body>
</html>
