<!DOCTYPE html>
<html lang="en">
<head>
  <LINK href="../public/stylesheets/usualList.css" type=text/css rel=stylesheet>
  <META content="MSHTML 6.00.2900.5945" name=GENERATOR></HEAD>
<meta charset="utf-8">
<BODY>
<!--
<form method="get" action="/">
    <input type="text" name="mailid">
    <input type="submit">
</form>  -->
<DIV id="main"><!-- Two groups of banners -->
  <UL class="ListHolder">
    <LI>
      <div class="r-list">
        <DIV class="list"><A href="#"><IMG alt="1st-list" src="../public/images/Lighthouse.JPG"></A>
          <div class="bf-exp1">"고주부의 카레 만들기"</div>
          <div class="bf-exp2">만들기 너무 쉽고 간편한 고주부의 카레 맛도영양도 짱짱임</div>
          <div class="time"><img src="../public/images/clock1.JPG" alt="clock-img"><span>20분</span></div>
          <div class="writer">by 고주부</div>
        </DIV>
        <div class="r-title">
          <a href="#"><span class="r-title-name">칼칼한 카레</span></a>
          <span class="like-rating">♥ 9</span>
        </div>

      </div>
    </LI>
    <LI>
      <div class="r-list">
        <DIV class="list"><A href="#"><IMG alt="2nd-list" src="../public/images/Lighthouse.jpg"></A>
          <div class="bf-exp1">"고주부의 짜장밥 만들기"</div>
          <div class="bf-exp2">만들기 너무 쉽고 간편한 고주부의 짜장밥 맛도영양도 짱짱임</div>
          <div class="time"><img src="../public/images/clock1.JPG" alt="clock-img"><span>20분</span></div>
          <div class="writer">by 고주부</div>
        </DIV>
        <div class="r-title">
          <a href="#"><span class="r-title-name">짜증날땐 짜장밥</span></a>
          <span class="like-rating">♥ 9</span>
        </div>
      </div>
    </LI>
    <LI>
      <div class="r-list">
        <DIV class="list"><A href="#"><IMG alt="3rd-list" src="../public/images/Lighthouse.jpg"></A>
          <div class="bf-exp1">"고주부의 김치찌개 만들기"</div>
          <div class="bf-exp2">만들기 너무 쉽고 간편한 고주부의 김치찌개 맛도영양도 짱짱임</div>
          <div class="time"><img src="../public/images/clock1.JPG" alt="clock-img"><span>20분</span></div>
          <div class="writer">by 고주부</div>
        </DIV>
        <div class="r-title">
          <a href="#"><span class="r-title-name">김칫칫 찌개찌개</span></a>
          <span class="like-rating">♥ 9</span>
        </div>
      </div>
    </LI>
    <LI>
      <div class="r-list">
        <DIV class="list">
          <A href="#"><IMG alt="4th-list" src="../public/images/Lighthouse.jpg"></A>
          <div class="bf-exp1">"고주부의 된장찌개 만들기"</div>
          <div class="bf-exp2">만들기 너무 쉽고 간편한 고주부의 된장찌개 맛도영양도 짱짱임</div>
          <div class="time"><img src="../public/images/clock1.JPG" alt="clock-img"><span>20분</span></div>
          <div class="writer">by 고주부</div>
        </DIV>
        <div class="r-title">
          <a href="#"><span class="r-title-name">이런된장 찌갯!</span></a>
          <span class="like-rating">♥ 9</span>
        </div>
      </div>
    </LI>
    <LI>
      <div class="r-list">
        <DIV class="list">
          <A href="#"><IMG alt="5th-list" src="../public/images/Lighthouse.jpg"></A>
          <div class="bf-exp1">"고주부의 부대찌개 만들기"</div>
          <div class="bf-exp2">만들기 너무 쉽고 간편한 고주부의 부대찌개 맛도영양도 짱짱임</div>
          <div class="time"><img src="../public/images/clock1.JPG" alt="clock-img"><span>20분</span></div>
          <div class="writer">by 고주부</div>
        </DIV>
        <div class="r-title">
          <a href="#"><span class="r-title-name">부대 부댓부댓찌개</span></a>
          <span class="like-rating">♥ 9</span>
        </div>
      </div>
    </LI>
  </UL>
</DIV>

<SCRIPT src="lib/listing/jquery.min.js"
        type=text/javascript></SCRIPT>

<SCRIPT src="lib/listing/script.js"
        type=text/javascript></SCRIPT>
</BODY>

</html>
