body {
  top: 0;
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: 0;
  font-family: "나눔고딕",sans-serif;
}

#nav {
  background-color: #fef8c5;
  height:40px;
}

#nav .innav {
  width: 900px;
  height: 40px;
  margin: auto;
}

#nav ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
}

#nav ul li {
  float: left;
}

#nav ul li.category {
  padding: 10px 10px 11px 0;
  text-align: center;
  background-color: white;
  border-top: 2px solid #ED1458;
}

#nav ul li.category .categoryimg{
  width:15px;
  height:10px;
  margin-top:5px;
  padding: 0 0 0 20px;
}

#nav ul li.category span{
  font-size:15px;
  color: #ED1458;
  margin-right: 15px;
  margin-left: 5px;
  font-weight: normal;
}

#nav ul li.category:hover{
  cursor:pointer;
  background-color: white;
}

#nav ul li.search {
  margin-top: 10px;
}

#nav input {
  border-style: hidden;
  width: 230px;
  height: 28px;
  padding: 5px 0 5px 10px;
  margin:0;
  background-color:#fef8c5;
}

#nav ul li.button {
  height: 38px;
  width: 40px;
  background-color: #fef8c5;
  margin-left: 0;
}

#nav ul li.button:hover {
  background-color: #ED1458;
}

#nav ul ul {
  display: none;
  position: absolute;
  padding: 0;
  height: auto;
  background-color: white;
  margin-top:10px;
  border-left: 2px solid #ED1458;
  border-right: 2px solid #ED1458;
  border-bottom: 2px solid #ED1458;
}

#nav ul.icon_instruction{
  font-size: 12px;
}

#nav ul.icon_instruction li{
  padding: 0;
  background-color: #f0f0f0;
}

#nav ul li.icon:hover ul{
  display:block;
}

#nav ul ul li:last-child {
  border: none;
}

#nav ul li.category:hover ul {
  display: block;
}

#nav ul li.login, #nav ul li.recipe, #nav ul li.cart{
  font-size: 15px;
  height:16px;
  padding: 2px;
  margin: 10px;
  border-right: 2px solid #ED1458;
}

#nav ul li.login{
  padding-left:200px;
}
#nav ul li.num{
  font-size:15px;
  border-top:2px solid #ED1458;
  color: black;
  padding: 10px;
}

#nav ul ul table th{
  padding: 20px 52px 20px 52px;
  font-size:17px;
  color: black;
}

#nav a:link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "나눔고딕",sans-serif;
}

#nav ul ul table td{
  padding: 0 0 15px 0;
  color:black;
  font-size: 15px;
}






